<mat-toolbar color="primary">

  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span>{{ 'TITLE' }}</span>

  <span fxFlex></span>

  <button mat-icon-button [matMenuTriggerFor]="themeMenu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #themeMenu x-position="after">
    <button routerLink="/pages/profile" mat-menu-item>Profile</button>
  </mat-menu>

</mat-toolbar>

<mat-sidenav-container fxLayout="row" fxFlex>

  <mat-sidenav #snav mode="push" closed>

    <mat-nav-list>

      <mat-list-item routerLink="/pages/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Home </span>
      </mat-list-item>

      <mat-list-item routerLink="/pages/products" routerLinkActive="active">
        <mat-icon>local_grocery_store</mat-icon>
        <span>Products </span>
      </mat-list-item>

      <mat-list-item routerLink="/pages/qr-scanner" routerLinkActive="active">
        <mat-icon>scanner</mat-icon>
        <span>qr scan </span>
      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
